
<div class="col s12">
        <% if !current_user.following?(user) %>
            <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <%= f.submit "FOLLOW", class: "btn btn-primary profile-btn" %>
            <% end %>
        <% else %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                html: { method: :delete }) do |f| %>
                <%= f.submit "UNFOLLOW", class: "btn btn-secondary profile-btn" %>
            <% end %>
        <% end %>
</div>

