<!DOCTYPE html>
<html>
<head>
  <title>ICC Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <link rel="shortcut icon" href="https://png.icons8.com/nolan/2x/sales-channels.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
  <div id = "notice-wrapper">
  <p class="notice"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; <%= notice %></p>
  </div>
  <% elsif alert %>
  <div id = "alert-wrapper">
  <p class="alert"><span class="glyphicon glyphicon-alert"></span>&nbsp; <%= alert %></p>
  </div>
  <% end %>
       
<%= yield %>

<script>
  $(document).ready(function() {
    setTimeout(function(){
      $('#notice-wrapper').fadeOut("slow", function(){
      })
    }, 4000)
    
    setTimeout(function(){
      $('#alert-wrapper').fadeOut("slow", function(){
      })
    }, 4000)
  })

</script>

</body>
</html>
